.gitignore
*/__pycache__/*
__pycache__/*
*.pyc
mark_env/*
marker_env/*
starter_code/*
student_submissions/*
student_mark/*
student_marks/*
assignment1-marking-container/*
blanks/*
*/.DS_Store
.DS_Store
student_marks/*
Visual_Analytics_HTML
Final_demailir_submissions
final_exam-marking-container/*
mock_submissions
